#Header {
	text-align: center;
	border-bottom: 2px solid black;
}

#news {
	margin-top: 5px;
	border: 1px solid green;
	height: 500px;
	margin-bottom: 5px;
}

#lookup {
	text-align: center;
}

#Footer {
	border-top: 2px solid black;
}

.labelBars {
	font-weight: 500;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.dataInputs {
	width: 18%;
	float: left;
	margin-right: 10px;
	height: 25px;
	padding: 6px;
}

.submitBtn {
	padding: 2px 12px;
}